$nav-one-color: #a41b22;
$hero-color: #121212;
$second-text-color: #cecece0e;
$gray: #f5f5f5;
$dark-gray: #161616;
$dark-white: #cccbcb;
$red: #a41b22;
$sale-color: #cd9907;
$hero-gradient: linear-gradient(
	360deg,
	hsla(0, 0%, 18%, 1) 0%,
	hsla(0, 0%, 7%, 1) 90%
);
